@model Models.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create a new game</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamPts" class="control-label">Home team points</label>
                <input asp-for="HomeTeamPts" class="form-control" />
                <span asp-validation-for="HomeTeamPts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestTeamPts" class="control-label">Guest team points</label>
                <input asp-for="GuestTeamPts" class="form-control" />
                <span asp-validation-for="GuestTeamPts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label">Home team</label>
                <select id="homeTeam" asp-for="HomeTeamId" class="form-control">
                    @foreach(var team in ViewBag.Teams)
                    {
                        <option value="@team.TeamId">@team.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GuestTeamId" class="control-label">Guest team</label>
                <select id="guestTeam" asp-for="GuestTeamId" class="form-control">
                    @foreach(var team in ViewBag.Teams)
                    {
                        <option value="@team.TeamId">@team.Name</option>
                    }
                </select>
            </div>
            <div class="alert alert-danger" id="teamsErrMsg" style="display:none">
                Home and guest teams can't be the same 
            </div>
            <div class="form-group">
                <input type="submit" value="Create" onclick="checkTeams(event)" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function checkTeams(event) {
        if ($('#homeTeam').val() == $('#guestTeam').val()) {
            $('#teamsErrMsg').show();
            $('#teamsErrMsg').fadeOut(5000);
            event.preventDefault();
        }
    }
</script>