@model Models.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamPts" class="control-label">Home team points</label>
                <input asp-for="HomeTeamPts" class="form-control" />
                <span asp-validation-for="HomeTeamPts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestTeamPts" class="control-label">Guest team points</label>
                <input asp-for="GuestTeamPts" class="form-control" />
                <span asp-validation-for="GuestTeamPts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label">Home team</label>
                <select asp-for="HomeTeamId" class ="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <label asp-for="GuestTeamId" class="control-label">Guest team</label>
                <select asp-for="GuestTeamId" class ="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}