@using Models;
@model List<Stats>
@{
    ViewData["Title"] = "Stats";
}

<h2>Stats</h2>
<div class="container">
    @foreach (var stat in Model)
    {
        <div class="oneStat">
            <div>@stat.Player.Name</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                @foreach (var item in stat.StatsItem)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Value</td>
                    </tr>

                }

            </table>
        </div>
    }
</div>

