body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*MY CSS*/

.search_input {
    width: 300px;
}

.search_text {
    font-size: 25px;
}

.statsTable {
    width: 50%;
}

.addStatItem {
    font-size: 45px !important;
    cursor:pointer;
}

.removeStat {
    font-size: 34px !important;
    padding-left: 15px !important;
    margin: 0px !important;
}

.flexDisplay {
    display: flex;
    margin-left: 0px;
}

.oneGame {
    text-align: center;
}

.teamSeparator {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 46px;
}

.homeTeam {
    margin-right: 10px;
}

.guestTeam {
    margin-left:10px;
}

.oneGameTitle {
    text-align:center;
    padding-left: 95px;
}


