@using Models
@model List<Player>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@foreach(var player in Model)
{

    <div> @player.Name Zemlja: @player.Country.Name</div>
    

}
 <button class="btn btn-primary"></button>
